h1 {
    text-align: center;
    color: #e6ffff;
    font-family: 'league-gothic';
	font-size: 46px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
    font-family: 'league-gothic';
}

#ill {
    top: 52%;
    left: 50%;
    position: absolute; 
    transform: translateX(-50%) translateY(-50%);
}

#nasty {
    top: 54%;
    left: 50%;
    position: absolute; 
    transform: translateX(-50%) translateY(-50%);
}

.upperSection {
    float: left;
    width: 100%;
    height: 300px;
    text-align: center;
    background: -webkit-linear-gradient(left, lightcyan ,  #99ccff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightcyan ,  #99ccff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightcyan ,  #99ccff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, lightcyan ,  #99ccff); /* Standard syntax (must be last) */
}

#d { 
    vertical-align: center; 
    z-index:0; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#hourglass {
    width: 100px;
    height: 100px;
    vertical-align: center; 
    z-index: 0; 
    position: absolute; 
    top: 37%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@font-face {
    font-family: league-gothic;
    src: url(Assets/fonts/leaguegothic-regular-webfont.woff);
}

#lightbulb {
    width: 100px;
    height: 100px;
    vertical-align: center; 
    z-index: 0; 
    position: absolute; 
    top: 140.4%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#equalizer {
    width: 100px;
    height: 100px;
    vertical-align: center; 
    z-index: 0; 
    position: absolute; 
    top: 140.4%;
    left: 16.7%;
    transform: translateX(-50%) translateY(-50%);
}

#resume {
    width: 100px;
    height: 100px;
    vertical-align: center; 
    z-index: 0; 
    position: absolute; 
    top: 140.4%;
    left: 83.3%;
    transform: translateX(-50%) translateY(-50%); 
}

.col-centered {
    text-align: center;
    padding-top: 50px;
    height: 500px;
}

.middle {
    border-left: solid lightcyan;
    border-right: solid lightcyan;
}